<h1>Autor</h1>
+
+<table style="margin:0 auto;">
+    <tr>
+        <td>
+            <img src="http://facadenet.usc.es/facadenet/pg/photos/friends/ivan.freire.fernandez" style="height:100px;" />
+        </td>
+        <td>
+            Iván Freire
+        </td>
+    </tr>
+</table>
+<a href="/">Volver a inicio</a>
