        <nav class="main" id="n1" role="navigation">
             <span><a href="/">Inicio</a></span>
             <span><a href="/quizes/question">Preguntas</a></span>
            <span><a href="http://facadenet.usc.es/facadenet/pg/photos/friends/ivan.freire.fernandez">Autor</a></span>
         </nav>
         
         <section class="main" id="s1">
 @@ -28,7 +29,7 @@
         </section>
         
         <footer class="main" id="f1">
         <a href="http://es.wikipedia.org/wiki/Quiz">¿Que es Quiz?</a> | <a href="https://github.com/ivanfreire/quiz">github quiz</a>
         </footer>
     </div> 
   </body>
