#page-wrap > .main {border: 1px solid #999; padding: 1%; margin-bottom:1px; color: black;}
 section > div {padding:20px;}
 header, nav, section {background: #eee; text-align:center;}
+table { margin: 0 auto;}
 footer{background: #eee; text-align:center;}
 nav span {margin: 0 10px 0;}
+.searcher { margin-bottom: 4px; }
